/* 전체 배경 */
html {
  background: #e6e5f0; /* 보라 배경 */
}

body {
  font-family: Arial, sans-serif;
  text-align: center;

  /* 가운데 흰 카드처럼 */
  width: min(900px, 92%);
  margin: 40px auto;
  background: rgb(229, 255, 249);
  border-radius: 18px;
  padding: 50px 40px;

  box-shadow: 0 18px 40px rgba(0,0,0,0.25);
}

h1 {
  margin: 0 0 12px;
  font-size: 42px;
  color: hsl(198, 100%, 58%); /* 주황 */
  letter-spacing: -1px;
}


p {
  margin: 10px 0;
  color: #666;
}


#imageInput {
  width: 260px;
  padding: 8px;
  margin: 14px 0 18px;
}


#imageInput::file-selector-button {
  background: #00ff9d;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 16px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

#imageInput::file-selector-button:hover {
  background: #4ee000;
}

#preview {
  margin: 18px auto 10px;
}

#uploadedImage {
  width: 320px;
  height: 240px;
  object-fit: cover;

  border-radius: 12px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.18);
}


#label-container {
  margin-top: 18px;
  font-weight: bold;
  font-size: 18px;
  color: #222;
}

#label-container > div {
  margin: 6px 0;
}